<div id="content">
    <strong class="titulo">Personagens</strong>
    <main>
        <div class="card" *ngFor="let personagem of personagens" (click)="viewCard(personagem.id)">        
            <section>
                <strong style="font-size: 18px; text-align: center;">#{{personagem.id}} - {{personagem.nome}}</strong>
            </section>
            <section>
                <strong>Descrição</strong>
                <p>{{personagem.descricao}}</p>
            </section>
            <p>Overall - {{ (personagem.ataque + personagem.vida + personagem.defesa + personagem.estamina + personagem.velocidade + personagem.critico) }}</p>
        </div>

        <div class="card" style="padding: 0px;">
            <button (click)="viewAddCard()" id="addButton">Adicionar personagem</button>
        </div>

        <div #contentHidden class="contentHidden">
            
            <div *ngIf="personagemSelecionado" class="hidden_card">
                <div>
                    <button class="voltar" (click)="closeCard()">
                        <svg width="25" height="25" viewBox="0 0 193 336" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M185.751 7.38662C177.002 -1.36235 162.896 -1.36235 154.148 7.38662L5.77204 155.762C-1.19143 162.726 -1.19143 173.974 5.77204 180.938L154.148 329.313C162.896 338.062 177.002 338.062 185.751 329.313C194.5 320.564 194.5 306.459 185.751 297.71L56.4804 168.261L185.93 38.8115C194.5 30.2411 194.5 15.957 185.751 7.38662Z" fill="currentColor"/>
                        </svg>
                    </button>

                    <button class="voltar" (click)="deletePersonagem(personagemSelecionado.id)">
                        <svg width="25" height="25" viewBox="0 0 251 322" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M196.681 107.695V286.246H53.8404V107.695H196.681ZM169.898 0.565186H80.623L62.7679 18.4202H0.275261V54.1303H250.246V18.4202H187.753L169.898 0.565186ZM232.391 71.9854H18.1303V286.246C18.1303 305.887 34.1999 321.956 53.8404 321.956H196.681C216.321 321.956 232.391 305.887 232.391 286.246V71.9854Z" fill="currentColor"/>
                        </svg>
                    </button>
                </div>

                <header>
                    <strong class="titulo">#{{personagemSelecionado.id}} - {{personagemSelecionado.nome}}</strong>
                    <strong class="titulo">{{personagemSelecionado.classe}}</strong>
                </header>

                <main>
                    <div>
                        <strong>Descrição</strong>
                        <p>{{personagemSelecionado.descricao}}</p>
                    </div>
                    <div>
                        <section>
                            <p class="class">Vida - {{personagemSelecionado.vida}}</p>
                            <p class="class">Ataque - {{personagemSelecionado.ataque}}</p>
                            <p class="class">Defesa - {{personagemSelecionado.defesa}}</p>
                        </section>
                        <section>
                            <p class="class">Estamina - {{personagemSelecionado.estamina}}</p>
                            <p class="class">Velocidade - {{personagemSelecionado.velocidade}}</p>
                            <p class="class">Crítico - {{personagemSelecionado.critico}}</p>
                        </section>
                    </div>
                </main>

            </div>
        </div>

        <div #addcontentHidden class="contentHidden">
            <div class="hidden_card">
                <div>
                    <button class="voltar" (click)="closeAddCard()">
                        <svg width="25" height="25" viewBox="0 0 193 336" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M185.751 7.38662C177.002 -1.36235 162.896 -1.36235 154.148 7.38662L5.77204 155.762C-1.19143 162.726 -1.19143 173.974 5.77204 180.938L154.148 329.313C162.896 338.062 177.002 338.062 185.751 329.313C194.5 320.564 194.5 306.459 185.751 297.71L56.4804 168.261L185.93 38.8115C194.5 30.2411 194.5 15.957 185.751 7.38662Z" fill="currentColor"/>
                        </svg>
                    </button>
                </div>

                <main class="content_form" style="justify-content: space-between;">
                    <form >
                        <section class="content_input">
                            <label for="nome">Nome</label>
                            <input type="text" name="nome" formControlName="nome">
                        </section>

                        <section class="content_input">
                            <label for="descricao">Descrição</label>
                            <input type="text" name="descricao" style="height: 60px;" formControlName="descricao">
                        </section>
                        
                        <div>
                            <section class="content_input">
                                <label for="vida">Vida</label>
                                <input type="number" name="vida" formControlName="vida">
                            </section>

                            <section class="content_input">
                                <label for="ataque">Ataque</label>
                                <input type="number" name="ataque" formControlName="ataque">
                            </section>

                            <section class="content_input">
                                <label for="defesa">Defesa</label>
                                <input type="number" name="defesa" formControlName="defesa">
                            </section>
                        </div>

                        <div>
                            <section class="content_input">
                                <label for="estamina" >Estamina</label>
                                <input type="number" name="estamina" class="input_number" formControlName="estamina">
                            </section>

                            <section class="content_input">
                                <label for="velocidade">Velocidade</label>
                                <input type="number" name="velocidade" class="input_number" formControlName="velocidade">
                            </section>

                            <section class="content_input">
                                <label for="critico">Critico</label>
                                <input type="number" name="critico" class="input_number" formControlName="critico">
                            </section>
                        </div>

                        <button type="submit" style="margin-top: 10px; font-size: 15px;">Adicionar personagem</button>
                    </form>
                </main>
            </div>
        </div>

    </main>
</div>