<main>
    <div class="card">
        <section>
            <p>#1 - Djavan</p>
        </section>
        <section>
            <strong>Descricao</strong>
            <p>Djavan é um samurai cuja lâmina dança ao ritmo da alma</p>
            <p>OVR - 70</p>
        </section>
    </div>

    <div class="card">
        <section></section>
        <section></section>
    </div>

    <div class="card">
        <section></section>
        <section></section>
    </div>
    
    <div class="card">
        <section></section>
        <section></section>
    </div>
    
    <div class="card">
        <section></section>
        <section></section>
    </div>

    <div class="card">
        <section></section>
        <section></section>
    </div>
</main>
